{layout 'PAGE_CONTAINER.latte'}

{block content}
    <div class="block block--errorMessage">
        <div class="block-container">
            <div class="block-row">
                {$message}
            </div>
        </div>
    </div>
{/block}